# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
#
# See https://github.com/r-lib/actions/tree/master/examples#readme for
# additional example workflows available for the R community.

name: R

on:
  push:
    branches: [ "prod" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout repo  
        uses: actions/checkout@v4


      - name: setup R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true
          r-version: renv

      - name: Restore renv packages
        uses: r-lib/actions/setup-renv@v2

      - name: Copy .Renviron for test runner
        run: |
          cp  /home/shiny_species/.Renviron .
        shell: bash

    #   - name: Install dependencies
    #     run: |
    #       options(repos = c(CRAN = "cran.mirror.rafal.ca"))
    #       install.packages(c("remotes", "rcmdcheck", "testthat"),lib = "~/R/library")
    #       remotes::install_deps(dependencies = TRUE,  upgrade = "never", lib = "~/R/library")
    #     shell: Rscript {0}
